Topic 8: Post-Admission Enrollment Requirements

Here are the documents that newly accepted applicants need to prepare after admission before proceeding to enrollment:

For senior high school graduates or new first years, they should bring the following requirements upon enrollment and submit to the Office of the Registrar:
- Original Form 138 (Senior High School Card - Grade 12) duly signed/certified by the Principal/School Registrar as eligible for college, or the ALS A&E Certificate of Rating and other eligibilitydocuments recognized by DepEd and CHED.
- Original Copy of Birth Certificate from National Statistics Office (NSO)/ Philippine Statistics Authority (PSA)
- 1 copy 2x2 colored photo with white background 
- Accomplished Student’s Personal Data Sheet (online through ISMIS)

For transferees, they should bring the following requirements upon enrollment and submit to the Office of the Registrar:
- Certificate of Transfer Credentials (Honorable Dismissal)
- Informative Copy of Transcript of Records (TOR)
- Original Copy of Birth Certificate from National Statistics Office (NSO)/Philippine Statistics Authority (PSA)
- 1 copy 2x2 colored photo with white background 
- Accomplished Course Accreditation Form (through ISMIS)
- Clearance from the Office of Student Formation and Activities (OSFA)
- Accomplished Student’s Personal Data Sheet (through ISMIS)
- Other requirements where applicable 

Note: General Education (basic) Courses taken and passed prior to Academic Year 2018-2019 are ineligible for accreditation except for Rizal and NSTP.

INTERNATIONAL STUDENTS. The international students from countries that are members of The Hague Conference on Private International Law (HCCH) shall submit in English Form authenticated documents through the Apostille issued by the Secretary of State of the country of origin. For students from countries not members of HCCH, what applies is an authentication with a red ribbon by the Philippine Embassy in the country of origin. 

For Graduates from Schools Abroad, they should bring the following requirements upon enrollment: 
- Transcript of Records (1st and 2nd semesters of Grade 11 and Grade 12) for Bachelor’s Program (IGCSE/GCSE with A-Levels may also be considered)
- Diploma/Certificate of graduation Grade 12
- Photocopy of Passport bio-page showing date and place of birth 
- English Proficiency Requirement with a rating in either IELTS with a score of 6.0 or TOEFEL with a score of at least 60 or as prescribed by the program. » Applicants, who graduated from schools that used English as a medium of instruction, are required to submit a certificate issued by the head of the institution or its legal representative. 
- Birth Certificate/ Family Register / Household Register 
- Police Clearance (No Criminal Record) issued by the national police authorities in the student’s country of origin or legal residence. 
- Original copy of notarized Affidavit of Support and proof of adequate financial support or bank statement to cover expenses for student’s accommodation and subsistence, school fees, and other incidental expenses. 
- Five (5) copies of the Student’s Personal History Statement (PHS) duly signed in English and in his/her national language accompanied by his/her personal seal, if any. The PHS should contain his/her left and right thumb-prints, and a 2X2 inch photograph on plain white background taken not more than six (6) months before submission. 
Once officially enrolled, the International Student must comply with the Bureau of Immigration requirements of the following: 
- Student Visa Conversion (from tourist visa category to student visa) 
- Student Visa Extension or Special Study Permit (SSP) 

For International Students Graduating from Senior High Schools in the Philippines, they should bring the following requirements upon enrollment: 
- Report Card (Form 138) (1st and 2nd semester of Grade 12) duly certified/signed by the School Registrar/ Principal as eligible for college
- Photocopy of Diploma
- Birth Certificate / Household Register / Family Register duly authenticated 
- Photocopy of Passport bio-page showing date and place of birth 
- Copy of Special Study Permit (SSP) issued by the Bureau of Immigration or copy of other visas e.g. SSRV, SIRV, 9G etc.
- Original copy of notarized Affidavit of Support and proof of adequate financial support or bank statement to cover expenses for student’s accommodation and subsistence, school fees, and other incidental expenses. 
- Five (5) copies of the Student’s Personal History Statement (PHS) duly signed both in English and in his/ her national language accompanied by his/her personal seal, if any. The PHS should contain his/her left and right thumb-prints, and a 2X2 inch photograph on plain white background taken not more than six (6) months before submission.
Once officially enrolled, the International Student must comply with the Bureau of Immigration requirements of the following:
- Student Visa Conversion (from tourist visa category to student visa) 
- Student Visa Extension or Special Study Permit (SSP)

For international student transferees from Philippine Schools, they should bring the following requirements upon enrollment:
- Original copy of the Certificate of Transfer Credential (Honorable Dismissal)
- Transcript of Records (Informative Copy) 
- Certificate of Good Moral Character / Clearance from OSA 
- Photocopy of Passport bio-page
- Copy of 9F valid Student Visa Stamp 
- Copy of Alien Certificate of Registration of Identification Card (ACR-ICard) 
- Birth Certificate / Family Register / Household Register duly authenticated
- NBI clearance 
- Original copy of notarized Affidavit of Support and proof of adequate financial support or bank statement to cover expenses for student’s accommodation and subsistence, school fees, and other incidental expenses.

For transferees from schools abroad, they should bring the following requirements upon enrollment:
- Transcript of Records
- Certificate of Graduation/Diploma 
- Police clearance (No Criminal Record) issued by the national police authorities in the student’s country of origin or legal residence 
- Photocopy of Passport bio-page 
- English Proficiency Requirement with a rating in either IELTS with a score of 6.0 or TOEFEL with a score of at least 60 or as prescribed by the program.
- Birth Certificate/ Family Register/ Household Register 
- Original copy of notarized Affidavit of Support and proof of adequate financial support or bank statement to cover expenses for student’s accommodation and subsistence, school fees, and other incidental expenses. 
- Five (5) copies of the Student’s Personal History Statement (PHS) duly signed both in English and in his/ her national alphabet accompanied by his/her personal seal if any, containing among others, his/her left and right thumb-prints and a 2X2 inch photograph on plain white background taken not more than six (6) months prior to submission.
Once officially enrolled, the International Student must comply with the Bureau of Immigration requirements of the following upon enrollment:
- Student Visa Conversion (from tourist visa category to student visa) 
- Student Visa Extension or Special Study Permit (SSP)

For those with dual citizenship and graduated abroad, they should bring the following requirements upon enrollment:
- Transcript of Records (Informative Copy)
- Certificate of Graduation/Diploma 
- Police Clearance (No Criminal Record)/ Certificate of Good Moral Character 
- Photocopy of Passport bio-page/Philippine Passport 
- Original Authenticated PSA (NSO) Birth Certificate 
- Clear photocopy of Birth Certificate 
- A valid Philippine Passport: Identification Certificate (IC) or Certificate of Reacquisition/Retention of Philippine Citizenship

The complete enrollment documentation shall be submitted to the EXTERNAL RELATIONS AND INTERNATIONALIZATION OFFICE (ERIO), Downtown Campus personally or through a courier service addressed to: 
EXTERNAL RELATIONS AND INTERNATIONALIZATION OFFICE
University of San Carlos 
P. Del Rosario St. 
Cebu City 6000, Philippines 
The University may invalidate the enrollment of a student who has been found to have submitted an intentional misrepresentation/misdeclaration or falsification of submitted documents.

The University admits other enrollees such as Cross Enrollees and Consortium Students. They are non-USC students who intend to enroll in the University for a semester subject to the approval of the Department Chair and School Dean. They should submit a Permit to Study / Cross-enrollment Permit issued by the Registrar of the home institution during the enrollment period.

The University admits other enrollees such as:

Cross enrollees and consortium students. They are non-USC students who intend to enroll in the University for a semester subject to the approval of the Department Chair and School Dean. They should submit a Permit to Study / Cross-enrollment Permit issued by the Registrar of the home institution during the enrollment period.

Special Students. They are students admitted to the University but are not entitled to receive official credit for a course because they do not satisfy the requirements for admission. Furthermore, they are not eligible for any honors or privileges. 
During enrollment they should: 
- get written approval from the School Dean and/or Department Chair concerned;
- go to the Office of the University Registrar to execute the contract in which they waive the right to receive and demand credit for the work done; 
- pay in full the required fees at the time of enrollment; 
- have a Special Study Permit (for foreign students).
Foreign nationals who intend to enroll as Special Students should get clearance from the External Relations and Internationalization Office.

Philippine-born alien students (children of foreign nationals in the Philippines) are required to submit a photocopy of their Alien Certificate of Registration I-Card (ACR I-Card) and Native Born Certificate of Registration (NBCR) which are certified by the Commission on Higher Education (CHED). During the application for graduation, the student shall submit a receipt of payment for the Alien Registration Fee for the current year. Foreign-born alien students are required to submit a photocopy of their Alien Certificate of Registration (ACR) that is certified by CHED. Students whose parents are naturalized Filipinos are required to submit a photocopy of the Identification Certificate issued by the Bureau of Immigration, which is certified against the original copy by CHED.

The name and other personal data and circumstances of each student as indicated in his/her birth certificate or Alien Certificate of Registration, where applicable, shall prevail.